@media (min-width: 38rem) {
    body {
        background-color: #f8f8f8;
        color: #3D405B;
    }

    header,
    nav,
    main,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        background-color: #A0522D;
        border-bottom: 1px solid #ddd;
    }
.about-section {
    display: grid;
    padding: 1rem;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    align-items: stretch;
    /* Aligns both columns to the top */
}

.about-box {
    margin: 0;
    width: 100%;
    padding: 0;
   
}

.about-photo {
    display: flex;
    border: solid 1px #ccc;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    /* Aligns content to the right */
}

.about-photo h2 {
   width: 100%;
    margin-bottom: .5rem;
    text-align: center;
    align-items: center;
}

.student-photo {
    width: 150px;
    height: 150px;
    border-radius: 0;
    object-fit: cover;
    
}
 

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        background-color: #A0522D;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .navigation ul {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        list-style: none;
        padding: 0.5rem;
        margin: 0;
    }

    .navigation li a {
        color: #fff;
        background-color: transparent;
        padding: 0.6rem 1rem;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

    .navigation li a:hover,
    .navigation li.current a {
        background-color: #3D405B;
        color: #fff;
    }

    .course-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    footer {
        background-color: #A0522D;
        color: #fff;
    }
}